/node_modules
/htdocs/code
/htdocs/images
/htdocs/storage
/htdocs/download
/storage/*.key
/storage/api-docs/api-docs.json
storage/api-docs/api-docs.json
/storage/code/*
storage/code/*
storage/tmp/*
storage/file/*
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
.DS_Store
composer.lock
htdocs/htdocs
*.code-workspace
.rnd
.note
.env.backup
